/ {
    pwmleds {
        compatible = "pwm-leds";
        pwm_led0: pwm_led0 {
            pwms = <&ledc0 0 10000 0>;
        };
    };
};

&ledc0 {
    status = "okay";
};



                                    